.App {
  text-align: center;
}

li {
  list-style: lower-roman;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.candleTitle {
  background-image: linear-gradient(to left,yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar {
  background-image: linear-gradient(to left,yellow, orange, red);
  background-color:black;
  color:black;
  position:fixed;
  top:0;
  width:100%;
}

.avatar {
  position:fixed;
  right:0;
  color:blue;
}