.App {
  text-align: center;
}

button {
  border:none;
  border-radius: 25%;
  margin:30px;
  font-size: 16px;
  padding: 15px 32px;
  color:darkgray;
  background-color:black
}

button:hover {
  color:black;
  background-color:white;
}

a {
  text-decoration: none;
  color:inherit;
}

.landing {
  background-image:url("birthday.png");
  background-size: cover; 
  background-repeat: no-repeat;
  height:500px;
  color:rgb(255, 255, 255);
}

ul {
  list-style:none;
  display:grid;
  /* margin:5; */
  /* padding:5; */
}

.loginBtn {
  color:darkgray;
  background-color:black;
}

.loginBtn:hover {
  color:black;
  background-color:white;
}

.opaqueText {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 55%;
  margin-top:0%;
  padding:10%;
  max-width:850px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.candleTitle {
  background-image: linear-gradient(to left,yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar {
  background-image: linear-gradient(to left,yellow, orange, red);
  background-color:black;
  background-color: #282c34;
  color:black;
  position:fixed;
  top:0;
  width:100%;
}

.avatar {
  position:fixed;
  color:blue;
}

.avatar:hover {
  background-color:white;
  color:gold;
}

.userCard-01 {
  background-color:#bc2a95;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-02 {
  background-color:#8d459d;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-03 {
  background-color:#5d1793;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-04 {
  background-color:#1653ca;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-05 {
  background-color:#4db1c0;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-06 {
  background-color:#409629;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-07 {
  background-color:#7fc73d;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-08 {
  background-color:#fffe54;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-09 {
  background-color:#f9cd46;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-10  {
  background-color:#f29d38;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-11 {
  background-color:#f16e2e;
  width:50%;
  height:200px;
  display: inline-flex;
}
.userCard-12 {
  background-color:#ee3421;
  width:50%;
  height:200px;
  display: inline-flex;
}