.App {
  text-align: center;
}

li {
  list-style: lower-roman;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.candleTitle {
  background-image: linear-gradient(to left,yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar {
  background-image: linear-gradient(to left,yellow, orange, red);
  background-color:black;
  background-color: #282c34;
  color:black;
  position:fixed;
  top:0;
  width:100%;
}

.avatar {
  position:fixed;
  right:0;
  color:blue;
}

.userCard-01 {
  background-color:#bc2a95;
  width:45%;
}
.userCard-02 {
  background-color:#8d459d;
  width:45%;
}
.userCard-03 {
  background-color:#5d1793;
  width:45%;
}
.userCard-04 {
  background-color:#1653ca;
  width:45%;
}
.userCard-05 {
  background-color:#4db1c0;
  width:45%;
}
.userCard-06 {
  background-color:#409629;
  width:45%;
}
.userCard-07 {
  background-color:#7fc73d;
  width:45%;
}
.userCard-08 {
  background-color:#fffe54;
  width:45%;
}
.userCard-09 {
  background-color:#f9cd46;
  width:45%;
}
.userCard-10  {
  background-color:#f29d38;
  width:45%;
}
.userCard-11 {
  background-color:#f16e2e;
  width:45%;
}
.userCard-12 {
  background-color:#ee3421;
  width:45%;
}